:root {
    --color1: #eac9e6;
    --color2: #84556e;
    --color3: #532b39;
    --color4: #1f1e20;
    --color5: #273535;
    --color6: #f5f5f5;
}

* {
    margin: 0;
    border: 0;
    list-style: none;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: var(--color6);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 25%;
    margin: 1rem 0 1rem 0;
    color: var(--color3);
    font-weight: 500;
}

h1 {
    margin: 1rem 0 0.5rem 0;
    font-size: 2.3rem;
    color: var(--color2);
}

h2 {
    margin: 0.5rem 0 1rem 0;
    font-weight: 500;
    color: var(--color2);
}

#photo {
    border-radius: 25%;
    width: 12rem;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 5rem 0;
}

#contact-me {
    padding: 0;
    display: flex;
    flex-direction: row;
    color: var(--color3);
    font-weight: 500;
}

#contact-me > li {
    margin: 0 1rem 0 1rem;
}

.redes:after {
    
    border-bottom: 3px solid var(--color2);
    content: "";
    display: block;
    margin: 0.15em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;
}
.redes:hover:after {
    transition: width 100ms ease-in-out 0s;
    width: 100%;
}


a:hover {
    box-shadow: 0 3px 0 0 var(--color2);
}
/* reportagens.html */

a {
    text-decoration: none;
    color: var(--color3);
}

li > a::after {
    text-decoration: none;
    color: var(--color2);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 13rem;
    margin: 1rem;
}

.card-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.retranca {
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}

.titulo {
    font-size: 1.2rem;
    font-weight: 700;
    text-align:left;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
    margin: 3rem;
}

.container {
    padding: 0.5rem;
}

#titulo-de-pagina {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}


/* sobre.html */
.descricao{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experiencia-profissional {
    width: 48%;
}

.universidade {
    margin-bottom: 10px;
}

.experiencia-profissional, .formacao {
    text-align: center;
}

.exp {
    margin-bottom: 5px;
    margin-top: 5px;
}

.experiencia-profissional > h3 {
    margin-bottom: 0.8rem;
}

.experiencia-profissional > h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fotos > img {
    height: 15rem;
    border-radius: 5%;
}

.fotos > img:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.skills > div > img {
    width: 3em;
}

.skills > div > label {
    margin-top: 0.5rem;
}

#titulo-sobre {
    text-align: center;
    margin-bottom: 2rem;
}

#skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}